/* Gäller globalt. ------------------------------------------------------------------------------------------------------------------------------------------------- */

html {
    overflow-x: hidden;
}
/* Gömmer innehåll från html-elementet som finns utanför skärmens x-axel. */

    body {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        color: white;
        font-family: 'Barlow Condensed', sans-serif;
        overflow-x: hidden;
    }
    /* Tar bort alla standardinställningar för padding och margin som webbläsaren har. Body:n blir ett flexobjekt vilket
    gör den mer anpassbar till olika skärmstorlekar. Body:n kommer nu alltid att vara över footer:n så att inget innehåll blockeras av den. Det kommer också att finnas ett
    konsekvent avstånd mellan footer:n och övrigt innehåll. Den minsta höjden som body:n kan ha sätts till 100vh.
    Den tar nu alltså alltid upp fönstrets storlek. Textfärgen ändras till vitt samtidigt som typsnittet ändras. Även "overflow-x: hidden;" läggs till så att 
    allt innehåll som inte rymmer på skärmen horisontellt automatiskt göms. */

        .skipToMainContent {
            position: absolute;
            left: -500px;
        }
        /* Länken placeras utanför webbsidan, 500 pixlar till vänster. "position: absolute" gör det möjligt att placera ett element utanför visningsytan. */

            .skipToMainContent:focus {
                font-size: 200%;
                position: static;
                background-color: black;
                color: white;
                border: 1px solid white;
            }
            /* När länken får fokus (med hjälp av tabb-tangenten) blir texten större så den är lättare att märka. Länkens position återgår till det normala med hjälp av
            "position: static". Genom att dölja denna länk som standard så underlättar det för de användare som inte använder t.ex. en skärmläsare för att navigera. Webbplatsens design påverkas 
            inte alls av länken, om den inte används. Ger länken en annan färg och en annan
            bakgrundsfärg samt ger den en border. Dessa ändringar gör så att den sticker ut från den vanliga webbsidan. */
            
            .headerNav {
                display: flex;
                position: relative;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                margin-bottom: 3rem;
            }
            /* Gör navigationen till ett flexobjekt, samt gör så den placeras relativt till body:ns position. Med hjälp av "flex-direction: column;" och "justify-content: space-between;"
            så sträcker innehållet ut sig horisontellt istället för vertikalt samtidigt om innehållsdelarna ges utrymme mellan varandra. Slutligen positioneras elementen utifrån objektens början. */
            
                .headerNav img {
                    width: 270px;
                    height: auto;
                }
                /* Ger bilden en bredd och en automatisk höjd (att den bestäms av webbläsaren). */

                .navLinks {
                    position: relative;
                    display: none;
                    border: 3px solid white;
                    border-radius: 5px;
                    background-image: url("../media/nav_background.jpg");
                    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 120%;
                }
                /* Gömmer navigationslänkarna som standard, ger dem en border med radien 5px med 3px mellan bokstäverna. Positionen beror på ".headerNav":s position. Ger dem också
                en bakgrundsbild och ändrar typsnittet samt teckenstorleken. */

                    .navLinks::before {
                        content: '';
                        border: 2px solid white;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate3d(-50%, -50%, 0) scale(1.02) rotate(1deg);
                        border-radius: 5px;
                    }
                    /* Ger ".navLinks" en till border runt sig med hjälp av "::before". Positionen sätts till absolute och den vinklas lite samtidigt som radien ändras till 5px. ""content" sätts till en tom sträng så att effekten ska visas. Sätter också bredden samt höjden till 100%. Med hjälp av "left: 50%;" och "right: 50%;" så placeras border:n mitt över nav:en. */

                    .navLinks::after {
                        content: '';
                        border: 1px solid white;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate3d(-50%, -50%, 0) scale(1.02) rotate(2deg);
                        border-radius: 5px;
                    }
                    /* Ger ".navLinks" ännu en border till runt sig med hjälp av "::after". Positionen sätts till absolute och den vinklas lite samtidigt som radien ändras till 5px. "content" sätts till en tom sträng så att effekten ska visas. Sätter också bredden samt höjden till 100%. Med hjälp av "left: 50%;" och "right: 50%;" så placeras border:n mitt över nav:en. */

                    .navLinks.active {
                        display: flex;
                        width: 90%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 2rem;
                    }
                    /* När ".navLinks" har klassen ".active" så visas den som ett flexobjekt som tar upp 90% av skärmens bredd. Den ges också en margin överallt förutom längst ned. */
                
                    .navLinks ul {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                    }
                    /* Elementet visas som ett flexobjekt som visas horisontellt. Den tar upp hela containern, även padding samt margin tas bort. */
                
                        .navLinks ul li {
                            list-style: none;
                            z-index: 1;
                            text-align: center;
                        }
                        /* Tar bort punkterna vid li-elementen, gör så att de syns överst. Centrerar elementen. */

                            body.index li.index, body.images li.images, body.contact li.contact, body.about li.about {
                                background-color: rgba(152, 224, 93, 0.5);
                            }
                            /* När en viss sida är aktiv sä ändras sidans li-element:s bakgrundsfärg i navigationen. */

                            .navLinks ul li:hover {
                                background-color: rgba(152, 224, 93, 0.5);
                            }
                            /* När musen är över en navigationsknapp så ändras dess bakgrundsfärg. */

                            .navLinks ul li a {
                                display: block;
                                padding: 1rem;
                                font-weight: bolder;
                                color: white;
                                text-decoration: none;
                            }
                            /* Gör så länkarna visas som block istället för inline, lägger till en padding och gör texten fetare. Gör också länkarna vita samt tar bort textdekorationen. */
                
                .navToggle {
                    position: absolute;
                    top: 0.7rem;
                    right: 0.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 40px;
                    height: 35px;
                }
                /* Gör så att knappen alltid finns placerad högst upp i högra hörnet, objekten ges mellanrum mellan varandra och de visas i en kolumn. Bestämmer bredden och höjden. */
                
                    .bar {
                        height: 5px;
                        width: 100%;
                        background-color: white;
                        border-radius: 15%;
                    }
                    /* Sätter en höjd och bredd på strecken och ändrar bakgrundsfärgen. Ger den också en radie. */

        .background video {
            position: fixed;
            left: 0;
            bottom: 0;
            min-width: 100%;
            z-index: -2;
        }
        /* Ger videon en fixad position med minst 100% bredd. Den placeras bakom alla andra element med hjälp av "z-index: -2;", "left: 0;" samt "right: 0;". */

        .backgroundOverlay {
            height: 100%;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
            background: black;
            opacity: 80%;
        }
        /* Skapar en overlay för videon, den görs svart med 80% opacitet. Den placeras framför videon. Positionen görs fixad. Den placeras bakom videon med hjälp av "z-index: -1;", "left: 0;" samt "right: 0;". Den ges också en höjd samt bredd. */

        .pageHeading {
            text-align: center;
            font-size: 200%;
            font-family: 'Rye', cursive;
        }
        /* Centrerar samtliga sidtitlar och ger de en större teckenstorlek och ett annat teckensnitt. */
        
        footer {
            background-color: black;
            font-weight: bold;
            margin-top: 2rem;
            padding-top: 2rem;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        /* Ändrar bakgrundfärgen, centrerar texten och gör denna text fet. Ger elementet också en padding och margin längst upp. Ändrar slutligen typsnittet. */

            footer a { 
                color: white;
            }
            /* Gör alla a-element inne i footer:n vita så att de passar in med den övriga texten i footer:n. */
            
            .footerAbout, .footerIcons {
                text-align: center;
            }
            /* Centrerar bilderna. */

                .creatorName {
                    font-size: 70%;
                }
                /* Gör texten mindre. */
            
                .footerIcons img {
                    width: 100px;
                    height: 100px;
                }
                /* Sätter en konstant höjd och bredd. */

                    .footerIcons img:hover, .footerIcons img:active {
                        transform: scale(1.3);
                    }
                    /* När musen är över ikonerna eller när de klickas på så blir de större. */

        #mainContentIndex, #mainContentImages, #mainContentContact, #mainContentAbout, #mainContentSuccess, #mainContentPrivacy {
            flex: 1;
        }
        /* Med hjälp av "flex: 1" kommer elementen på sidorna alltid vara samma längd, oavsett hur stort fönstret är. Detta förhindrar att något element blir för
        stort eller för litet beroende på skärmstorleken. */

/* Gäller globalt. ------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Gäller för sidan "index.html". ---------------------------------------------------------------------------------------------------------------------------------- */

        #indexGridContainer {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
        }
        /* Skapar en grid-container med en kolumn och en rad. */

            #indexGridItem0 {
                grid-row: 1;
                grid-column: 1;
                text-align: center;
                font-size: 150%;
            }
            /* Placerar grid-item:et i den första kolumnen och på den första raden. Centrerar objekten och gör texten större. */

                #indexGridItem0 img {
                    width: 260px;
                    height: auto;
                    border-radius: 20%;
                }
                /* Sätter bildens bredd till 260px och höjd till auto (att den bestäms av webbläsaren). Ger den också en radie. */

/* Gäller för sidan "index.html". ---------------------------------------------------------------------------------------------------------------------------------- */

/* Gäller för sidan "images.html". --------------------------------------------------------------------------------------------------------------------------------- */

        #imagesGridContainer {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
            text-align: center;
        }
        /* Skapar en grid-container med en kolumn och sex rader. Centrerar objekten. */

            #imagesGridContainer img {
                object-fit: cover;
                width: 200px;
                height: 200px;
                margin-top: 2rem;
                border-radius: 20%;
            }
            /* Ger alla bilder i grid-containern en bredd och höjd med en margin högst upp. Bilderna undviker se konstiga ut med den bestämda storleken och bredden
            med hjälp av "object-fit: cover;". Lägger slutligen till en radie. */

            #imagesGridItem0 {
                grid-row: 1;
                grid-column: 1;
            }
            /* Placerar grid-item:et i den första kolumnen och på den första raden. */
        
            #imagesGridItem1 {
                grid-row: 2;
                grid-column: 1;
            }
            /* Placerar grid-item:et i den första kolumnen och på den andra raden. */

            #imagesGridItem2 {
                grid-row: 3;
                grid-column: 1;
            }
            /* Placerar grid-item:et i den första kolumnen och på den tredje raden. */

            #imagesGridItem3 {
                grid-row: 4;
                grid-column: 1;
            }
            /* Placerar grid-item:et i den första kolumnen och på den fjärde raden. */

            #imagesGridItem4 {
                grid-row: 5;
                grid-column: 1;
            }
            /* Placerar grid-item:et i den första kolumnen och på den femte raden. */

            #imagesGridItem5 {
                grid-row: 6;
                grid-column: 1;
            }
            /* Placerar grid-item:et i den första kolumnen och på den sjätte raden. */

            #imagesGridItem6 {
                grid-row: 7;
                grid-column: 1;
            }
            /* Placerar grid-item:et i den första kolumnen och på den sjunde raden. */

            #imagesGridItem7 {
                grid-row: 8;
                grid-column: 1;
            }
            /* Placerar grid-item:et i den första kolumnen och på den åttonde raden. */

            #imagesGridItem8 {
                grid-row: 9;
                grid-column: 1;
            }
            /* Placerar grid-item:et i den första kolumnen och på den nionde raden. */

            #imagesGridItem9 {
                grid-row: 10;
                grid-column: 1;
            }
            /* Placerar grid-item:et i den första kolumnen och på den tionde raden. */

            #imagesGridItem10 {
                grid-row: 11;
                grid-column: 1;
            }
            /* Placerar grid-item:et i den första kolumnen och på den elfte raden. */

            #imagesGridItem11 {
                grid-row: 12;
                grid-column: 1;
            }
            /* Placerar grid-item:et i den första kolumnen och på den tolfte raden. */

/* Gäller för sidan "images.html". --------------------------------------------------------------------------------------------------------------------------------- */

/* Gäller för sidorna "contact.html" och "privacy.html". ----------------------------------------------------------------------------------------------------------- */

        #contactGridContainer {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
        }
        /* Skapar en grid-container med en kolumn och två rader. */

            #contactGridItem0 {
                grid-column: 1;
                grid-row: 1;
                text-align: center;
                font-size: 150%;
            }
            /* Placerar grid-item:et i den första kolumnen och på den första raden. Centrerar objekten och gör texten större. */ 

                #contactGridItem0 a, #contactGridItem1 a, #privacyGridItem0 a {
                    color: rgb(0, 204, 255);
                    text-decoration: underline;
                }
                /* Ändrar länkarnas färg och lägger till en textdekoration. */

                #contactGridItem0 img {
                    height: 25px;
                    display: inline;
                }
                /* Bestämmer bildernas höjd, de visas nu också som inline. */

            #contactGridItem1 {
                grid-column: 1;
                grid-row: 2;
                font-size: 135%;
            }
            /* Placerar grid-item:et i den första kolumnen och på den andra raden. Gör texten större. */ 

                #contactGridItem1 {
                    text-align: center;
                }
                /* Centrerar texten i formuläret. */
                
                    #contactGridItem1 form input, #contactGridItem1 form textarea {
                        display: block;
                        width: 11rem;
                        height: 3rem;
                        margin: auto;
                        border-radius: 17px;
                    }
                    /* Centrerar textboxarna och knappen i formuläret med hjälp av "display: block" och "margin: auto". "margin: auto" gör så att de är centrerade i sin container.
                    Nu visas de också i block-form istället för i inline-form. Då går de att centrera lättare.
                    Sätter bredden till 11rem och höjden till 3rem så de är lättare att använda på en mobiltelefon. De ges också en radie. */

                        #contactGridItem1 form input[type="submit"] {
                            width: 9rem;
                            margin-top: 1rem;
                            cursor: pointer;
                        }
                        /* Gör knappen med typen "submit" större, fast inte lika stor som de övriga input-elementen. Det gör det lättare att skilja på knappen och dessa. Lägger
                        också till en margin längst upp samt ändrar muspekaren. */

                        #contactGridItem1 form #contactConsent {
                            display: inline;
                            height: initial;
                            width: initial;
                            transform: scale(2);
                            margin-right: 0.5rem;
                        }
                        /* Visar checkbox:en som inline istället. Nollställer också bredden samt höjden. Gör checkbox:en större med "transform: scale(2);". Lägger också till en margin
                        så att den inte döljer texten till höger.*/

                        #contactGridItem1 form textarea {
                            resize: none;
                            height: 7rem;
                        }
                        /* Överskriver höjdändringen ovan. Gör så att textarea:ns storlek inte kan justeras av användaren
                        då det skulle förstöra layout:en. */

                    #contactGridItem1 form label {
                        display: block;
                        margin-top: 1rem;
                    }
                    /* Gör så att samtliga labels visas som block, ger dem en margin högst upp. */

                    .frc-captcha {
                        margin-left: auto;
                        margin-right: auto;
                    }

/* Gäller för sidorna "contact.html" och "privacy.html". ----------------------------------------------------------------------------------------------------------- */

/* Gäller för sidan "about.html". ---------------------------------------------------------------------------------------------------------------------------------- */

        #aboutGridContainer {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
        }
        /* Skapar en grid-container med en kolumn och en rad. */

            #aboutGridItem0 {
                grid-column: 1;
                grid-row: 1;
                text-align: center;
                font-size: 140%;
            }
            /* Placerar grid-item:et i den första kolumnen och på den första raden. Centrerar objekten och gör texten större. */ 

                #aboutImage {
                    width: 200px;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 20%;
                }
                /* Bestämmer bildens bredd och höjd. Bilderna undviker se konstiga ut med den bestämda storleken och bredden
                med hjälp av "object-fit: cover;". Lägger också till en radie. */

                .aboutLogo {
                    width: 100px;
                    margin: 1rem;
                }
                /* Bestämmer bildens bredd samt lägger till en margin. */

                    .aboutLogo:hover, .aboutLogo:active {
                        transform: scale(1.2);
                    }
                    /* När musen är över logotyperna eller när de klickas på så blir de större. */

                #aboutGridItem0 a {
                    color: rgb(0, 204, 255);
                }
                /* Ändrar länkarnas färg. */

/* Gäller för sidan "about.html". ---------------------------------------------------------------------------------------------------------------------------------- */

/* Gäller för sidan "success.html". -------------------------------------------------------------------------------------------------------------------------------- */

        .successText {
            font-size: 200%;
            text-align: center;
        }
        /* Centrerar texten och gör den större. */

        #successButton {
            display: block;
            border: 2px solid white;
            color: black;
            text-align: center;
            background-color: rgba(168, 189, 53, 0.9);
            width: 50%;
            font-size: 200%;
            font-weight: bolder;
            margin-left: auto;
            margin-right: auto;
            height: fit-content;
            padding: 1rem;
            border-radius: 20px;
            text-decoration: none;
        }
        /* Länken visas som block. Den ges en border runt och textfärgen ändras till svart. Bakgrundsfärgen ändras och texten centreras. Bredden bestäms
        och texten görs större samt tjockare. Slutligen centreras länken, den ges en höjd, padding samt en radie. Textdekorationen tas bort. */

/* Gäller för sidan "success.html". -------------------------------------------------------------------------------------------------------------------------------- */

/* Gäller för sidan "privacy.html". -------------------------------------------------------------------------------------------------------------------------------- */

        #privacyGridContainer {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
        }
        /* Skapar en grid-container med en kolumn och en rad. */

            #privacyGridItem0 {
                grid-column: 1;
                grid-row: 1;
                font-size: 130%;
                text-align: center;
            }
            /* Placerar grid-item:et i den första kolumnen och på den första raden. Centrerar objekten och gör texten större. */

/* Gäller för sidan "privacy.html". -------------------------------------------------------------------------------------------------------------------------------- */