@media screen and (min-width: 1024px) {
/* När bredden på skärmen är 1024px eller mer. För laptop:s och andra desktop:s. */

    .headerNav img{
        max-width: 500px;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    /* Ger bilden en maxbredd och en margin till höger och till vänster. */
    
    form input {
        height: 2rem;
    }
    /* Överskriver ändringarna av form:ens input-element med hjälp av "initial". Användaren förutsätts använda en mus så då behöver
    textboxarna inte vara lika stora. */

    .headerNav {
        flex-direction: row;
    }
    /* Navigationen sträcker nu ut sig på en rad istället. */

        .navLinks {
            display: flex;
        }
        /* Nu visas länkarna, deras bredd nollställs. */

            .navLinks::before {
                transform: translate3d(-50%, -50%, 0) scale(1.02) rotate(0.9deg);
            }
            /* Skapar en border som är roterad runt elementet. */

            .navLinks::after {
                transform: translate3d(-50%, -50%, 0) scale(1.02) rotate(1deg);
            }
            /* Skapar en border som är roterad runt elementet. */

            .navLinks ul {
                flex-direction: row;
                width: initial;
            }
            /* Objektet visas nu i en rad samtidigt som dess bredd görs till det som den hade innan. */
            
        .navToggle {
            display: none;
        }
        /* Gömmer hamburgemenyn. */

    input[type="submit"] {
        width: initial;
        display: inline;
    }
    /* Överskriver ändringarna ovan med hjälp av "initial". Knappen är nu mindre, då sticker den ut från resten av input-elementen.
    Den visas nu också istället i inline-form så att den kan placeras bredvid sin label. */

    .footerIcons img {
        height: 50px;
        width: 50px;
    }
    /* Bestämmer ikonernas höjd och bredd. */

    .slideShowSlide img {
        width: 500px;
        height: 400px;
    }
    /* Sätter bildernas bredd till 500px och höjd till 400px. */
    
    #imagesGridContainer img {
        width: 400px;
        height: 400px;
    }
    /* Sätter bildernas bredd och höjd till 400px. */

        #imagesGridContainer img:hover {
            transform: scale(1.3);
        }
        /* Gör bilderna större när muspekaren är över dem. */

    #aboutGridContainer, #indexGridContainer {
        grid-template-columns: 20% 60% 20%;
    }
    /* Ändrar grid-container:nas kolumners storlek. */
}