/* Gäller globalt. ----------------------------------------------------------------------------------------------------------------------------------------------- */

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Tar bort alla standardinställningar för padding och margin som webbläsaren har. Sätter också body:ns bakgrund till en bild. Body:n blir till ett flexobjekt vilket
gör den mer anpassbar till olika skärmstorlekar. Body:n kommer nu alltid att vara över footer:n så att inget innehåll blockeras av den. Det kommer också att finnas ett
konsekvent avstånd mellan footer:n och övrigt innehåll, vilket är jättebra. Den minsta höjden som body:n kan ha sätts till 100vh.
Den tar nu alltså alltid upp fönstrets storlek. Bakgrundsbilden ska få webbplatsen att likna en sorts meny på en restaurang. Denna sorts bakgrund riktar sig till eventuella
restauranggäster, vilket också är den huvudsakliga målgruppen.*/

    .skipToMainContent {
        position: absolute;
        left: -500px;
    }
    /* Länken placeras utanför webbsidan, 500 pixlar till vänster. "position: absolute" gör det möjligt att placera ett element utanför visningsytan. */

        .skipToMainContent:focus {
            font-size: 200%;
            position: static;
            background-color: black;
            color: white;
            border: 1px solid white;
        }
        /* När länken får fokus (med hjälp av tabb-tangenten) blir texten större så den är lättare att märka. Länkens position återgår till det normala med hjälp av
        "position: static". Genom att dölja denna länk som standard så underlättar det för de användare som inte använder t.ex. en skärmläsare för att navigera (de är
        också mycket troligen majoriteten av användarna). Webbplatsens design påverkas inte alls av länken, om den inte används. Ger länken en annan färg och en annan
        bakgrundsfärg samt ger den en border. Dessa ändringar gör så att den sticker ut från den vanliga webbsidan. */
        
        .headerNav {
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }
        
            .siteName {
                font-size: 400%;
                margin: .5rem;
                font-family: 'Rancho', cursive;
            }
            
            a {
                text-decoration: none;
            }
        
            .navLinks {
                width: 100%;
                display: none;
            }

                .navLinks.active {
                    display: flex;
                }
            
                .navLinks ul {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                }
            
                    .navLinks li {
                        list-style: none;
                        background-color: white;
                    }

                        body.index li.index, body.book li.book, body.images li.images, body.contact li.contact, body.about li.about {
                            background-color: green;
                        }

                        .navLinks li:hover {
                            background-color: #555;
                        }

                        .navLinks ul li {
                            text-align: center;
                        }

                        .navLinks li a {
                            display: block;
                            text-decoration: none;
                            color: black;
                            padding: 1rem;
                        }
            
            .navToggle {
                position: absolute;
                top: .75rem;
                right: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 30px;
                height: 21px;
            }
            
                .navToggle .bar {
                    height: 3px;
                    width: 100%;
                    background-color: white;
                    border-radius: 10px;
                }

    .background video {
        position: fixed;
        left: 0;
        bottom: 0;
        min-width: 100%;
        z-index: -2;
    }

    .backgroundOverlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        background: black;
        opacity: 90%;
    }

    .pageHeading {
        text-align: center;
        font-size: 300%;
        font-family: 'Rancho', cursive;
    }
    /* Centrerar samtliga sidtitlar. */
    
    footer {
        background-color: rgb(12, 12, 12);
        text-align: center;
        font-weight: bold;
    }
    /* Ändrar färgen och bakgrundfärgen, centrerar texten och gör denna text fet. Footer:n sticker nu ut mer, vilket är poängen. */

        footer a {
            color: white;
        }
        /* Gör alla a-element inne i footer:n vita så att de passar in med den övriga texten i footer:n. */

    #mainContentIndex, #mainContentBook, #mainContentImages, #mainContentContact, #mainContentAbout {
        flex: 1;
    }
    /*Med hjälp av "flex: 1" kommer huvudinnehållet på sidorna alltid att vara samma längd, oavsett hur stort fönstret är. Detta förhindrar att något element blir för
    stort eller för litet beroende på skärmstorleken. */

/* Gäller globalt. ------------------------------------------------------------------------------------------------------------------------------------------------- */

    #gridItemBook {
        grid-column: 1;
        grid-row: 1;
    }
    /* Placerar grid-item:et i den första kolumnen och på den första raden. */
    
        form {
            text-align: center;
        }
        /* Centrerar texten i form:en. */
        
            form input, textarea {
                display: block;
                width: 11rem;
                height: 3rem;
                margin: auto;
                border-radius: 11px;
            }
            /* Centrerar textboxarna och knapparna i form:en med hjälp av "display: block" och "margin: auto". "margin: auto" gör så att de är centrerade i sina containrar.
            Nu visas de också i block-form istället för i inline-form. Då går de att centrera lättare.
            Sätter bredden till 11rem och höjden till 3rem så de är lättare att använda på en mobiltelefon. */

                input[type="submit"] {
                    width: 9rem;
                }
                /* Gör knappen större, fast inte lika stor som de övriga input-elementen. Det gör det lättare att skilja på knappen och dessa. */

            textarea {
                resize: none;
                height: 7rem;
            }
            /* Överskriver höjdändringen ovan med hjälp av "initial" så att elementet sticker ut mer. Gör så att textarea:ns storlek inte kan justeras av användaren
            då det skulle förstöra layout:en. */

    #imagesGridContainer {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

        #imagesGridItem {
            grid-row: 1;
            grid-column: 1;
            text-align: center;
        }
    
    .slideShowSlide img, .slideShowSlide video{
        max-width: 300px;
        height: auto;
        border: 10px solid transparent;
        border-image: url("media/background_border.jpg") 12;
    }

    .progressDot {
        height: 20px;
        width: 20px;
        background-color: rgb(116, 116, 116);
        border-radius: 25px;
        display: inline-block;
    }

        .active {
            background-color: white;
        }

    #aboutGridContainer {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

        #aboutGridItem0 {
            grid-column: 1;
            grid-row: 1;
        }

            #aboutGridItem0 img {
                max-width: 300px;
            }