@media screen and (min-width: 961px) {
/* När bredden på skärmen är 961px eller mer. För laptop:s och andra desktop:s. Dessa brytpunkter kan sättas mer specifikt med hjälp av en webbtrafiksanalys. Då
skulle man kunna få reda på vilka de mest använda enheterna är och deras skärmstorlekar. I och med det kan brytpunkterna bli mer precisa. Exempelvis om en stor majoritet av
användarna använder en viss typ av mobiltelefon så kan brytpunkten sättas så att den kompletterar just denna mobiltelefon bäst. Dessa brytpunkter är
fortsättningsvis mycket hjälpsamma när det gäller plattformsanpassning. En webbplats kan se helt annorlunda ut på en mobiltelefon jämfört med på en dator. Exempelvis
kan innehållet visas mer utspritt (både horisontellt och vertikalt) på en dator och mer koncentrerat (endast vertikalt) på en mobiltelefon. Då är layouten mer anpassad
för olika plattformar som webbplatsen kan besökas på. Detta är en plattformsanpassning. */

    .headerNav img{
        max-width: 500px;
    }
    form input {
        height: 2rem;
    }
    /* Överskriver ändringarna av form:ens input-element med hjälp av "initial". Användaren förutsätts använda en mus så då behöver
    textboxarna inte vara lika stora. */

    .headerNav {
        flex-direction: row;
    }
    /* Navigationen sträcker nu ut sig på en rad istället. */

        .navLinks {
            display: flex;
            overflow: hidden;
        }
        /* Nu visas länkarna, deras bredd nollställs. */

            .navLinks::before {
                transform: translate3d(-50%, -50%, 0) scale(1.02) rotate(0.9deg);
            }
            /* Skapar en border som är roterad runt elementet. */

            .navLinks::after {
                transform: translate3d(-50%, -50%, 0) scale(1.02) rotate(1deg);
            }
            /* Skapar en border som är roterad runt elementet. */

            .navLinks ul {
                flex-direction: row;
                width: initial;
            }
            
        .navToggle {
            display: none;
        }

    input[type="submit"] {
        width: initial;
        display: inline;
    }
    /* Överskriver ändringarna ovan med hjälp av "initial". Knappen är nu mindre, då sticker den ut från resten av input-elementen.
    Den visas nu också istället i inline-form så att den kan placeras bredvid sin label. */
    
    footer img {
        margin-right: 100vw;
        padding: 1rem;
    }
    /* Lägger till en bild i footer:n, den ges en maximal bredd och en margin på högersidan. Även padding ges, samt en radie längst ner till höger och längst ner till vänster. */

    .footerAbout {
        position: absolute;
        bottom: 10;
        right: 50%;
        transform: translateX(50%);
    }
    /* Footern:s avsnitt om företaget placeras nere på footer:ns mitt. Detta görs med metoderna "right" och "transform". */

    .footerCopyright {
        display: block;
        margin-top: 1rem;
    }
    /* Footern:s uppehovsrättstext placeras längst ned på footer:ns mitt. Detta görs med metoderna "right" och "transform". */
    
    #imagesGridContainer img {
        width: 400px;
        height: 400px;
    }
}